<!DOCTYPE html>
<html lang="en">
	<head>
		<title>Theo Guessr</title>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1" />
		<link href="/css/tailwind.css" rel="stylesheet" />
	</head>
	<body>
		<main class=" p-6 font-sans h-screen bg-[#1A213B] text-white">
		<div class="flex flex-col justify-evenly items-center text-white gap-5 w-full">
			<h1 class="text-4xl font-bold mb-4">Welcome to TheoGuessr!</h1>
			<div class="flex flex-row justify-center gap-2 items-center text-white w-full">
				<a href="/play" class="bg-[#48537B] hover:bg-[#5C5E7B] text-white px-6 py-3 rounded-md shadow-md">Test Your Knowledge of the Bible</a>
			</div>
			<div>
				<div class="mt-3 flex flex-row items-center justify-evenly gap-3">
					<div class="option easy rounded-md bg-[#48537B] px-6 py-3 text-white shadow-md hover:bg-[#5C5E7B]">
					  <input type="radio" id="easy" name="difficulty" value="easy" onchange="changeColor(this)">
					  <label for="easy">Easy</label>
					</div>
					<div class="option medium rounded-md bg-[#48537B] px-6 py-3 text-white shadow-md hover:bg-[#5C5E7B]">
					  <input type="radio" id="medium" name="difficulty" value="medium" checked onchange="changeColor(this)">
					  <label for="medium">Medium</label>
					</div>
					<div class="option hard rounded-md bg-[#48537B] px-6 py-3 text-white shadow-md hover:bg-[#5C5E7B]">
					  <input type="radio" id="hard" name="difficulty" value="hard" onchange="changeColor(this)">
					  <label for="hard">Hard</label>
					</div>
				</div>
			</div>
			<div class="flex flex-row justify-evenly items-center text-white gap-3 w-full mt-3">
				<a href="/daily" class="bg-[#48537B] hover:bg-[#5C5E7B] text-white px-6 py-3 rounded-md shadow-md">Play the daily Bible verse</a>
			</div>
		</div>
		<div>
		<div class="flex flex-row justify-center items-center text-white gap-5 w-full mt-8">
				<div class="flex flex-col justify-evenly items-center text-white gap-5 bg bg-[#5c5f77] px-6 py-3 rounded-md shadow-md">
					<p class="text-2xl">Highscores</p>
					<p class="text-sm">0 on 11/27/23</p>
					<p class="text-sm">0 on 11/27/23</p>
					<p class="text-sm">0 on 11/27/23</p>
					<p class="text-sm">0 on 11/27/23</p>
					<p class="text-sm">0 on 11/27/23</p>
					<p class="text-sm">0 on 11/27/23</p>
					<p class="text-sm">0 on 11/27/23</p>
				</div>
				<div class=" w-1/3 flex flex-col justify-evenly items-center text-white gap-5 bg bg-[#5c5f77] px-6 py-3 rounded-md shadow-md h-auto">
					<p class="text-xl"> Rules and how to play </p>
					<p class="break-normal">Welcome to TheoGuessr, the game where you are given a Bible verse and you are tasked to figure out where it is. The rules are straightforward: the closer you are to the Bible verse, the more points you earn. you can earn up to 5000 each round, and your top scores will be displayed in the highscores section. Choose a difficulty level, test your knowledge, or play the daily verse and share your score with friends. Remember that you can switch the Bible version at any time. The difficulty slider adjusts the number of context verses: easy includes 6 context verses, medium has 2, and hard provides no context verses. Enjoy your the journey through the verses!</p>
				</div>
			</div>
			</div>
		</main>
		<script> 
		document.addEventListener('DOMContentLoaded', function () {
			let difficulty = localStorage.getItem("difficulty");
			if (difficulty !== null) {
				let radio = document.querySelector(`.option input[value="${difficulty}"]`);
				radio.checked = true;
				changeColor(radio);
			}
			});

			function changeColor(radio) {
			let difficulty = radio.value;
			localStorage.setItem("difficulty", difficulty);
			let options = document.querySelectorAll('.option');
			options.forEach(option => {
				option.style.backgroundColor = option.contains(radio) && radio.checked
				? getDifficultyColor(difficulty)
				: "#48537B";
			});
			}

			function getDifficultyColor(difficulty) {
			switch (difficulty) {
				case "easy":
				return "green";
				case "medium":
				return "blue";
				case "hard":
				return "red";
				default:
				return "#48537B";
			}
			}
		  </script>
	</body>
</html>