<!DOCTYPE html>
<html lang="en">
    <head>
        <title>TheoGuessr</title>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1" />
        <link rel="preconnect" href="https://fonts.googleapis.com" />
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
        <link
            href="https://fonts.googleapis.com/css2?family=Jost:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;1,200;1,300;1,400;1,500;1,600;1,700;1,800&display=swap"
            rel="stylesheet"
        />
        <script src="https://kit.fontawesome.com/c569bdf365.js" crossorigin="anonymous"></script>
        <link href="css/styles.css" rel="stylesheet" />
        <script src="js/difficulty.js"></script>
    </head>

    <body class="bg-Crust text-Text font-normal h-screen min-h-screen overflow-hidden flex flex-col">
        <main class="p-9 gap-2 overflow-y-auto h-full flex flex-col md:flex-row justify-around items-center">
            <div><h2 class="text-6xl font-bold">Free Play</h2></div>
            <div class="flex flex-col justify-center items-center text-2xl font-bold uppercase gap-8 text-Mantle rounded-md bg-Base p-4">
                <h3 class="text-Text rounded-md">Difficulty</h3>
                <div class="flex flex-row gap-1">
                    <label for="easy">
                        <div class="option easy px-2 py-0.5 bg-Green text-Base shadow-md">
                        <input type="radio" id="easy" name="difficulty" value="easy" class="hidden" onchange="changeColor(this)">
                        <p>Hard</p>
                        </div>
                    </label>
                    <label for="medium">
                        <div class="option medium px-2 py-0.5 bg-Mauve text-Base shadow-md">
                        <input type="radio" id="medium" name="difficulty" value="medium" class="hidden" onchange="changeColor(this)">
                        <p>Harder</p>
                        </div>
                    </label>
                    <label for="hard">
                        <div class="option hard px-2 py-0.5 bg-Red text-Base shadow-md">
                        <input type="radio" id="hard" name="difficulty" value="hard" class="hidden" onchange="changeColor(this)">
                        <p>Hardest</p>
                        </div>
                    </label>
                    <!-- <label for="impossible">
                        <div class="option impossible px-2 py-0.5 bg-Lavender text-Base shadow-md">
                        <input type="radio" id="impossible" name="difficulty" value="impossible" class="hidden" onchange="changeColor(this)">
                        <p>Impossible</p>
                        </div>
                    </label> -->
                </div>
                
            </div>
            <div class="flex flex-col justify-center items-center text-2xl font-bold uppercase gap-6 text-Mantle">
                <a href="/play"><h3 class="bg-Green px-2 py-0.5 rounded-md">Play</h3></a>
                <a href="/"><h3 class="bg-Sky px-2 py-0.5 rounded-md">Back</h3></a>
            </div>
        </main>
    </body>
</html>
