<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="/css/tailwind.css" rel="stylesheet">
    <title>Stuff</title>
</head>
<body>
    <main class="bg-[#000000] text-[#282A3A] p-6 font-sans h-screen flex-col gap-5">
        <div class="bg-[#282A3A] text-white px-6 py-3 rounded-md shadow-md gap-1 justify-around text-lg">
            <p class="">When they hurled their insults at him, he did not retaliate; when he suffered, he made no threats. Instead, he entrusted himself to him who judges justly.</p>
            <p class="box-border border-red-600 border-2"> “He himself bore our sins” in his body on the cross, so that we might die to sins and live for righteousness; “by his wounds you have been healed.” </p>
            <p>For “you were like sheep going astray,” but now you have returned to the Shepherd and Overseer of your souls.</p>
        </div>
        <hr>
        <input type="text" class="bg-[#282A3A] text-white px-6 py-3 rounded-md shadow-md gap-1">
    </main>
</body>
</html> 