<!DOCTYPE html>
<html lang="en">

<head>
    <title>Test</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="css/tailwind.css" rel="stylesheet">
</head>

<body>

    <div class="w-96 h-96 relative bg-neutral-900">
        <div class="w-80 h-60 left-[37px] top-[422px] absolute">
            <div class="w-80 h-60 left-0 top-0 absolute flex-col justify-center items-center gap-7 inline-flex">
                <div class="w-48 h-12 relative">
                    <div class="w-48 h-12 left-0 top-[1px] absolute bg-green-300 rounded-xl"></div>
                    <div
                        class="w-44 h-12 left-[3px] top-0 absolute text-center text-zinc-800 text-3xl font-bold font-['Jost'] tracking-widest">
                        Free Play</div>
                </div>
                <div class="w-72 h-12 relative">
                    <div class="w-72 h-12 left-0 top-0 absolute bg-sky-300 rounded-xl"></div>
                    <div
                        class="left-[14.25px] top-0 absolute text-zinc-800 text-3xl font-bold font-['Jost'] tracking-widest">
                        Daily Challenge</div>
                </div>
                <div class="w-56 h-12 relative">
                    <div class="w-56 h-12 left-0 top-0 absolute bg-green-300 rounded-xl"></div>
                    <div
                        class="left-[11.25px] top-0 absolute text-zinc-800 text-3xl font-bold font-['Jost'] tracking-widest">
                        High Scores</div>
                </div>
            </div>
        </div>
        <div class="w-96 h-16 left-0 top-0 absolute bg-gray-900"></div>
        <div class="w-96 h-16 left-0 top-[776px] absolute bg-gray-900"></div>
        <div class="w-80 h-11 left-[37px] top-[13px] absolute justify-start items-center gap-9 inline-flex">
            <div class="w-52 h-10 text-center text-indigo-200 text-3xl font-bold font-['Jost'] tracking-widest">
                TheoGuessr</div>
        </div>
        <div class="w-80 h-60 left-[44px] top-[122px] absolute"><span
                style="text-indigo-200 text-5xl font-bold font-['Jost'] tracking-widest">Discover the  </span><span
                style="text-orange-200 text-5xl font-bold font-['Jost'] tracking-widest">Bible</span></div>
        <div class="w-80 left-[37px] top-[795px] absolute justify-between items-center inline-flex">
            <div class="text-center text-indigo-200 text-xl font-bold font-['Jost']">Made by: Kyle and Ethan</div>
        </div>
    </div>
</body>

</html>
